
@charset "UTF-8";

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 600px;
  overflow: hidden;
}

body {
  position: relative;
  line-height: 1;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 30px;
  }
}

a {
  text-decoration: none;
  color:black;
}
a:hover {
  text-decoration: underline;

}
.reveal p.source {
right: 0px;
bottom: 10px;
display: block;
font-size: 11px;
position: absolute;
margin: 0px 48px;
}


.reveal p.subhead {
text-transform: uppercase;
font-size: 31px;
letter-spacing: 3px;
color: #bbbbbb;
margin-top: 0px;
padding-top: 20px;
}

.reveal .slides section {
  line-height: 1.2em;
}

.reveal img {
  max-width: 900px;
  max-height: 500px;
}

.reveal .quote.quad img {
  max-width: 350px
}

.reveal .quote.quad {
  max-width: 900px
}

.reveal .quad h4 {
font-size: 40px;
margin: 0px 0px 20px 0px;
}

.reveal .triple-img img {
  max-width: 300px;
  margin-right: 20px
}

.reveal .double-img img {
  max-width: 480px;
  margin-right: 20px
}

.reveal .double-img.quote.center h4, .reveal .double-img.quote.center p{
  margin: 5px 0px 5px 0px;
}

.reveal .double-img img:last-child {
  margin-right:0px;
}

.reveal .double-img {
  max-width: 1000px
}

.reveal .mask {
  display: block;
overflow: hidden;
width: 600px;
height: 200px;
position: relative;
clear: both;
}

.reveal .mask img {
position: absolute;
bottom: -130px;
left: -5px;
max-width: 2000px;
height: auto;
max-height: 2000px;
}

.reveal p {
  line-height: 1.2em;
  color: black;
  font-weight: 100
}

.reveal .card {
  text-align: left;
  width: 700px;
margin:20px auto;
padding:40px;
box-shadow: 0px 0px 10px #cecece;
background: #f7f7f7;
display: inline-block;

}
.reveal .card p{
font-size: 24px;
line-height: 1.7em
}

.reveal .card div {
  float: left;
}

.reveal .card div:last-child {
width: 500px;
margin-left: 40px;
}

/*********************************************
 * SLIDES
 *********************************************/

.reveal .slides {
position: absolute;
width: 100%;
height: 100%;
left: 0%;
top: 0%;
overflow: visible;
text-align: center;

}

.reveal .slides>section,
.reveal .slides>section>section {
display: none;
position: absolute;
width: 100%;
z-index: 10;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-transition: all 500ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
-moz-transition: all 500ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
-ms-transition: all 500ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
-o-transition: all 500ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
transition: all 500ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
height: 100%;
}

.reveal .slides>section.present {
  display: block;
  z-index: 11;
  opacity: 1;
}

.reveal .slides>section.big {
  background: #CC4B2B
}

.reveal .big h2 {
  color:#0B1A31;
}

.reveal .slides>section.last {
  background: url("http://lenagroeger.s3.amazonaws.com/talks/openvis/img/many_waldos_by_artists_bkrnd.jpg")
}

/*********************************************
 * LINEAR TRANSITION
 *********************************************/

.reveal.linear .slides>section.past {
  -webkit-transform: translate(-150%, 0);
     -moz-transform: translate(-150%, 0);
      -ms-transform: translate(-150%, 0);
       -o-transform: translate(-150%, 0);
          transform: translate(-150%, 0);
}
.reveal.linear .slides>section.future {
  -webkit-transform: translate(150%, 0);
     -moz-transform: translate(150%, 0);
      -ms-transform: translate(150%, 0);
       -o-transform: translate(150%, 0);
          transform: translate(150%, 0);
}

.reveal.linear .slides>section>section.past {
  -webkit-transform: translate(0, -150%);
     -moz-transform: translate(0, -150%);
      -ms-transform: translate(0, -150%);
       -o-transform: translate(0, -150%);
          transform: translate(0, -150%);
}
.reveal.linear .slides>section>section.future {
  -webkit-transform: translate(0, 150%);
     -moz-transform: translate(0, 150%);
      -ms-transform: translate(0, 150%);
       -o-transform: translate(0, 150%);
          transform: translate(0, 150%);
}



/*********************************************
 * DEFAULT STATES
 *********************************************/

.state-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #6d92a2;
}



/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 300;
}


/*********************************************
 * HEADERS
 *********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h5 {
margin: 0px;
line-height: 1.4em;
letter-spacing: 0.02em;
font-weight: 300;
text-shadow: 0px 0px 6px rgba(0,0,0,0.2);
font-size: 80px;
color: #000;
display: inline-block;
padding-bottom: 10px;
}

.reveal h4 {
line-height: 1.6em;
font-size: 50px;
margin: 10px 0px 30px 0px;
}


.reveal .quote {
  text-align: left;
  max-width: 960px;
}

.reveal .quote p,
.reveal .center p {
color: #CC4B2B;
text-transform: uppercase;
letter-spacing: 3px;
font-size: 24px;
}


.reveal .quote.center {
text-align: center;
}

.reveal .quote img {
  max-height: 500px
}

.reveal .wide img {
  margin-top:20px;
}

.reveal h3 {
  border-bottom: 0px
}

section div {
  display: inline-block;
}

.reveal h1 span {
  font-size: 40px;
font-weight: 800;
text-transform: uppercase;
display: block;
}
.reveal img.intro {
  width: 900px;

margin: 30px auto !important;
display: block;
}

.reveal h1 {
  font-size: 95px;
}
.reveal section > img {
  margin: 30px 0 10px 0;
  height: auto;

  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

}

.reveal section .plain img {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
     -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0);
          float: left;
}

.plain div {
  float: left;
padding: 25% 120px 25% 100px;
}

.reveal .plain p {
  font-size: 40px
}

.icon img {
margin-top: 50px;
}

.mobile-version img {
  width: 280px
}

